
<link rel="stylesheet" href="/css/contact.css">
<form class="form">
    <h2>CONTACT US</h2>

    <input type="hidden" name="access_key" value="c6b82af3-b204-47d7-aa6c-50d31f15abe5">
    <p type="Name:"><input name="name" placeholder="Write your name here.." required></input></p>
    <p type="Email:"><input name="email" placeholder="Let us know how to contact you back.." type="email" required></input></p>
    <p type="Message:"><input name="message" placeholder="What would you like to tell us.." required></input></p>
    <button type="submit" class="btn" style="background-color: #1588fc;">Send Message</button>
</form>
  </form>