body
{
    font-family: "plus Jakarta Sans",sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#d7d7d7!important;
}

.container
{
    flex: 1;
}
.navbar
{
    height: 5rem;
    z-index: 2;
    background-color:#415256;
}
.fa-compass
{
    color: #1588fc;
}
.nav-link
{
    color: #ffffff !important;
    display: inline-block;
}

/* footer */
.f-info-links,.f-info-social,.f-info-brand
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.f-info-social i
{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-links a
{
text-decoration: none;
color:  white ;
}

.f-info-links a :hover{
    text-decoration: underline;
}
.f-info
{
    text-align: center;
    height: 8rem;
    background-color:#415256;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    margin-top: 2rem;
}
.f-info-brand
{
    margin-top: 0.5rem;
}

/* cards */
.card
{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top
{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body
{
    padding: 0px;
    height: fit-content;
    width: fit-content;
}
.card-text p{
    font-weight: 400;
}

.listing-link
{
   text-decoration: none; 
}

/* card effect */
/* .card :hover
{
    opacity:0.2;
    background-color: white ;
} */
.add-btn
{
    background-color: #fe424d;
    border-radius: 0.2rem !important;
    border: none;
}


/* show page  */
.show-img
{
    height: 30vh;
}
.btns
{
    display: flex;
}
.show-cards
{
    padding-left: 0px;
    padding-right: 0px;
}
.card-text li
{
    list-style-type: none;
}
.textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
}


/* review card */
.reviewcard
{
    border: 1px solid black !important;
}

.search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  /* .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  } */
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-input
  {

    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size:1rem;
  }

  .contain {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


.footer {
    position: relative;
    padding: 60px 0 0 0;
    background: #111111;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}

.footer .footer-widget .title {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 3px double #ffffff;
}

.footer .footer-widget p {
    color: #ffffff;
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: #ffffff;
    white-space: nowrap;
    display: block;
    line-height: 23px;
}

.footer .footer-widget ul li a::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;   
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    padding-left: 10px;
    color: #FF6F61;
}

.footer .contact-info p {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 16px;
}

.footer .contact-info p i {
    color: #ffffff;
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 35px;
    height: 35px;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    border-radius: 4px;
}

.footer .social a i {
    color: #111111;
}

.footer .social a:hover {
    background: #FF6F61;
}

.footer .social a:hover i {
    color: #ffffff;
}

.footer .newsletter {
    position: relative;
    width: 100%;
}

.footer .newsletter form {
    position: relative;
    width: 100%;
}

.footer .newsletter input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.footer .newsletter .btn {
    position: absolute;
    width: 80px;
    height: 35px;
    top: 0;
    right: 0;
    padding: 0 15px;
    border: none;
    background: #111111;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
}

.footer .newsletter .btn:hover {
    background: #FF6F61;
}

.footer .newsletter input:focus,
.footer .newsletter .btn:focus {
    box-shadow: none;
}


/**********************************/
/******** Footer Menu CSS *********/
/**********************************/
.footer-menu {
    position: relative;
    background: #111111;
}

.footer-menu .container {
    padding: 15px 0;
    border-top: 1px solid #000000;
}

.footer-menu .f-menu {
    font-size: 0;
    text-align: center;
}

.footer-menu .f-menu a {
    color: #ffffff;
    font-size: 14px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ffffff;
}

.footer-menu .f-menu a:hover {
    color: #FF6F61;
}

.footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}