<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <h3 class="col-6 offset-3">Login here</h3>
<div class="col-6 offset-3">
    <form action="/login" method="POST" novalidate class="needs-validation">
     <div class="mb-3">
        <label for="username" class="form-lable"><b>Username</b></label><br>
        <input 
        type="text"
         placeholder="enter username" 
         class="form-control"  
         id="username"
         name="username"
         required><br>
     </div >
     <div class="mb-3">
        <label for="password" class="form-lable"><b>Password</b></label><br>
        <input type="password"
        placeholder="enter password"
        class="form-control" 
        id="password"
        name="password"
        required><br>
      </div>
      <button class="btn btn-success">LOGIN</button>
    </form>
</div>    
</div>